$primary1Color: #ff5722;
$primary2Color: #e64a19;
$primary3Color: #ffccbc;
$accent1Color: #536dfe;
$accent2Color: #8c9eff;
$accent3Color: #304ffe;
$textColor: rgba(0, 0, 0, 0.87);
$alternateTextColor: #ffffff;
$canvasColor: #ffffff;
$borderColor: #e0e0e0;
$disabledColor: rgba(0, 0, 0, 0.3);
$pickerHeaderColor: #00bcd4;
$clockCircleColor: rgba(0, 0, 0, 0.07);
$shadowColor: rgba(0, 0, 0, 1);